Repository firebase/firebase-cpp-sdk, pull requests merged in 2022-04, with the labels that each got.

#879 [Experimental] Increase Android Emulator Test timeout from 10 mins to 20 mins
  .github/workflows/integration_tests.yml
  scripts/gha/integration_testing/gameloop_android/app/src/androidTest/java/com/google/firebase/gameloop/GameLoopUITest.kt
  scripts/gha/integration_testing/gameloop_apple/gameloopUITests/gameloopUITests.swift
Labels: tests: succeeded, skip-release-notes

#885 Enable Snappy compression support in LevelDb in cmake builds
  build_scripts/desktop/package.sh
  cmake/external/firestore.cmake
  cmake/external/firestore_snappy.patch.txt
  cmake/external_rules.cmake
  firestore/integration_test_internal/CMakeLists.txt
  firestore/integration_test_internal/integration_test.xcodeproj/project.pbxproj
  firestore/integration_test_internal/src/leveldb_snappy_test.cc
  release_build_files/readme.md
Labels: api: firestore, tests: succeeded

#895 firestore_snappy.patch.txt: fix linux gcc inlining build error
  cmake/external/firestore_snappy.patch.txt
Labels: api: firestore, tests: succeeded, skip-release-notes

#901 Set the FIRESTORE_INCLUDE_OBJC cmake cache var to NO
  CMakeLists.txt
Labels: api: firestore, tests: succeeded, skip-release-notes

#899 firestore.cmake: go back to the old set(version X.Y.Z) syntax
  cmake/external/firestore.cmake
Labels: api: firestore, tests: succeeded, skip-release-notes

#910 Fix path to python on windows desktop build.
  scripts/gha/build_desktop.py
Labels: skip-release-notes

#887 Update GMA feature branch with latest GMA dependencies.
  Android/firebase_dependencies.gradle
  gma/gma_resources/build.gradle
  gma/integration_test/Podfile
  gma/src/ios/FADAdSize.h
  gma/src/ios/FADInterstitialDelegate.mm
  gma/src/ios/FADRewardedAdDelegate.mm
  ios_pod/Podfile
  release_build_files/Android/firebase_dependencies.gradle
Labels: tests: succeeded

#905 Modify SDK build Cocoapods inclusion to use frameworks instead of libraries
  .github/workflows/integration_tests.yml
  admob/integration_test/Podfile
  analytics/integration_test/Podfile
  app/integration_test/Podfile
  auth/integration_test/Podfile
  database/integration_test/Podfile
  dynamic_links/integration_test/Podfile
  firestore/CMakeLists.txt
  firestore/integration_test/Podfile
  functions/integration_test/Podfile
  installations/integration_test/Podfile
  ios_pod/CMakeLists.txt
  ios_pod/Podfile
  messaging/integration_test/Podfile
  remote_config/integration_test/Podfile
  storage/CMakeLists.txt
  storage/integration_test/Podfile
  storage/src/ios/storage_ios.h
  storage/src/ios/storage_ios.mm
Labels: skip-release-notes

#911 Fix storage content-type on desktop, and add test.
  release_build_files/readme.md
  storage/integration_test/src/integration_test.cc
  storage/src/desktop/storage_reference_desktop.cc
  storage/src/desktop/storage_reference_desktop.h
Labels: tests: succeeded

#896 leveldb_snappy_test.cc: run the test on iOS as well, and other improvements
  firestore/integration_test_internal/CMakeLists.txt
  firestore/integration_test_internal/src/leveldb_snappy_test.cc
Labels: api: firestore, tests: succeeded, skip-release-notes
