Repository firebase/firebase-cpp-sdk, pull requests merged in 2022-07, with the labels that each got.

#1013 Add GMA to the list of cron SDKs to build nightly
  .github/workflows/integration_tests.yml
Labels: skip-release-notes

#1016 Firestore: Remove broken absl flags logic from CMakeLists.txt
  firestore/integration_test_internal/CMakeLists.txt
Labels: api: firestore, tests: succeeded, skip-release-notes

#1021 semaphore.h: handle spurious wakeups in TimedWait() on Linux
  app/src/semaphore.h
  release_build_files/readme.md
Labels: tests: succeeded

#1022 Fix python requirement file name
  .github/workflows/checks_secure.yml
  .github/workflows/cpp-packaging.yml
Labels: skip-release-notes

#1023 Fix bash typo in integration_tests.yml
  .github/workflows/integration_tests.yml
Labels: skip-release-notes

#1029 Rollback "Combine environment setting steps into one step with shell sc…
  .github/workflows/desktop.yml
  .github/workflows/integration_tests.yml
  scripts/gha/install_test_workflow_prereqs.sh
  scripts/gha/requirements.txt
Labels: tests: succeeded, skip-release-notes

#1027 desktop_tester.py: some random improvements to help with debugging failed runs
  scripts/gha/desktop_tester.py
Labels: tests: succeeded, skip-release-notes

#1031 GMA mediation typos
  gma/src/android/ad_request_converter.cc
  gma/src/android/response_info_android.cc
  gma/src/include/firebase/gma/types.h
  gma/src/ios/response_info_ios.mm
Labels: skip-release-notes

#1033 [Bugfix] Windows openssl build
  .github/workflows/checks_secure.yml
  .github/workflows/cpp-packaging.yml
  .github/workflows/desktop.yml
  .github/workflows/integration_tests.yml
  scripts/gha/install_prereqs_desktop.py
  scripts/gha/install_test_workflow_prereqs.sh
  scripts/gha/python_requirements.txt
Labels: tests: succeeded, skip-release-notes

#1025 Firestore: transaction_test.cc: Capture the DocumentReference by value in TestMaxAttempts
  firestore/integration_test_internal/src/transaction_test.cc
Labels: api: firestore, tests: succeeded, skip-release-notes

#1036 semaphore_test.cc: re-enable MultithreadedStressTest
  app/tests/semaphore_test.cc
Labels: tests: succeeded, skip-release-notes

#1024 Firestore: disable debug logging in integration tests
  firestore/integration_test_internal/src/firestore_integration_test.cc
  firestore/integration_test_internal/src/firestore_integration_test.h
  firestore/integration_test_internal/src/listener_registration_test.cc
  firestore/integration_test_internal/src/numeric_transforms_test.cc
  firestore/integration_test_internal/src/transaction_test.cc
  firestore/integration_test_internal/src/type_test.cc
  firestore/integration_test_internal/src/util/integration_test_util.cc
Labels: api: firestore, tests: succeeded, skip-release-notes

#1037 semaphore_test.cc: add TimedWaitSpuriousWakeupLinux
  app/tests/semaphore_test.cc
Labels: tests: succeeded, skip-release-notes

#1030 Firestore: Improve logging of timeouts in integration tests
  firestore/integration_test_internal/src/firestore_integration_test.cc
  firestore/integration_test_internal/src/firestore_integration_test.h
  firestore/integration_test_internal/src/firestore_test.cc
  firestore/integration_test_internal/src/numeric_transforms_test.cc
  firestore/integration_test_internal/src/util/event_accumulator.h
Labels: api: firestore, tests: succeeded, skip-release-notes

#1020 Heartbeat Controller - Desktop Implementation - GetPayload
  app/CMakeLists.txt
  app/src/heartbeat/heartbeat_controller_desktop.cc
  app/src/heartbeat/heartbeat_controller_desktop.h
  app/tests/CMakeLists.txt
  app/tests/heartbeat_controller_desktop_test.cc
Labels: tests: succeeded
